/*  DEFAULT CSS STYLES FOR EVERY PAGE
	Includes all the styles that are the same across all CSS files so that I don't have to edit all of them to edit what they all share */
	
/* FONT IMPORTS */
@font-face { /* Major Titles, Navbar */
	font-family: ITC Serif Gothic;
	src: url('ITC SerifGothic.ttf'); 
}

@font-face { /* Minor Titles */
	font-family: ITC Avant Garde Std Md; 
	src: url('itc-avant-garde-std-md.ttf'); 
}

@font-face { /* General Text */
	font-family: Brandon Grotesque; 
	src: url('brandon-grotesque-regular.ttf'); 
}

@font-face { /* Backup Font for ITC Serif Gothic */
  font-family: 'Josefin Sans';
  src: url(https://fonts.gstatic.com/s/josefinsans/v34/Qw3aZQNVED7rKGKxtqIqX5EUDXx4.woff2) format('woff2');
}



/*  ID / CLASS CHEAT SHEET 
	-- IDS --
	#top
	#hgTwins
	#hgtMap
	#otherLocations
	#about
	#planetaryChart
	#hgtTitle
	#thTitle
	#gdTitle
	#dbTitle
	#attleTitle
	#qmTitle
	#interTitle
	#whTitle
	#minorChars
	#loopState
	#cityPhotos
	#travAudio

	#EGTC
	#QML
	
	-- CLASSES --
	.dropdown
	.dropdown-content
	.dropbtn
	.dropmid
	.dropbottom
	
	.bhwhTitle
	.indexPlanets
	.indexChars
	.charLeft
	.charRight
	.charAbout
	.poiLeft
	.poiRight
	.squareImage
	.pNoMargin
	.belowButton
	.subTitle
*/



/* --- SPOILER STYLES --- */
.collapsible { /* Spoiler button settings */
	display: block;
	cursor: pointer;
	border-radius: 0.75em;
	margin: 2em auto;
	padding: 0.5em 1em;
	text-align: center;
	font-size: 1.75em;
	color: white;
	outline: none;
	width: fit-content;
}

.content { /* Part of the spoiler button function */
	display: none;
	overflow: hidden;
}

.collapsible { /* Gives spoiler button animation */
	transition: transform .2s;
}

.collapsible:hover { /* Zooms button by 105% */
	transform: scale(1.05);
}



/*  --- BANNER & NAVIGATION BAR SETTINGS --- */
body > header > a > img { /* Title Banner */
	display: block;
	width: 100%;
}

/* Navigation Bar */

nav { /* The navbar itself */
	font-family: 'ITC Serif Gothic', 'Josefin Sans', 'Times New Roman', serif;
	font-size: 1.5em;
	font-weight: bold;
}

nav ul { /* Whole navbar button group */
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
}

nav ul li { /* Individual navbar buttons */
	padding: 0.5em 0;
}

nav ul li a { /* Navbar button text */
	display: block;
	border: 0.1em solid black;
	border-radius: 0.35em;
	color: white;
	text-align: center;
	text-decoration: none;
	padding: 0.25em 0.5em;
}

/* Navbar Dropdowns */

.dropdown:hover .dropdown-content { /* Unhides dropdown options when hovered */
	display: block;
}

.dropdown-content { /* Dropdown options */
	display: none;
	position: absolute;
	text-wrap: wrap;
	z-index: 1;
}

.dropdown:hover .dropbtn { /* Makes the bottom of the dropdown button flat */
	border-radius: 0.35em 0.35em 0 0;
	border-bottom-width: 0.05em;
}

.dropdown-content .dropmid { /* Border for middle dropdown option */
	border-radius: 0 0 0 0;
	border-top-width: 0.05em;
	border-bottom-width: 0.05em;
}

.dropdown-content .dropbottom { /* Border for bottom dropdown option */
	border-radius: 0 0 0.35em 0.35em;
	border-top-width: 0.05em;
}

#hgTwins { /* Makes the HG Twins dropdown options size match */
	min-width: 8.21em;
}

#otherLocations { /* Makes the Other Locations dropdown options size match */
	max-width: 8.21em;
}



/* --- MAIN STYLES --- */
html {
	background-color: black;
	color: white;
	text-align: center;
}

main { /* Sets contents of page to not touch edges of screen */
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

/* General Font Families */

h1, h2, h4 { /* Sets general h2 font */
	font-family: 'ITC Serif Gothic', 'Josefin Sans', 'Times New Roman', serif;
	font-weight: bold;
	margin: auto;
}

h3, button { /* Sets general h3 font */
	font-family: 'ITC Avant Garde Std Md', 'Verdana', sans-serif;
}

p, figcaption { /* Sets general p font */
	font-family: 'Brandon Grotesque', 'Verdana', sans-serif;
}

main p { /* Paragraph text */
	padding: 1em;
	font-size: 1.75em;
	line-height: 1.5;
}

main p > a:link { /* Sets link color */
	color: white;
}

main p > a:visited { /* Sets visited link color */
	color: white;
}

main p > a:hover { /* Sets link hover color & glow */
	color: white;
	text-shadow: white 0 0  0.25em;
}

/* General Text Settings */

main h1 { /* Planet Page Titles */
	margin: 1em auto 0.5em;
	font-size: 4em;
}

main > h2 { /* Planet Page Minor Titles */
	font-size: 2.75em;
	text-shadow: black 0.075em 0.075em 2px;
	margin: 2.5em auto 0.75em;
}

main > h2.subTitle { /* Makes subtitle font smaller */
	font-size: 2em;
}

main > p { /* Planet page desc. paragraph spacing */
	margin-bottom: 1em;
}

figcaption { /* Sets figcaption spacing and size */
	margin: 0.5em 0;
	font-size: 1.25em;
}

/* General Images & Videos */

main > img { /* Sets size of images directly under main */
	display: block;
	margin: auto;
	width: 50%;
}

div#loopState, div#cityPhotos, div#travAudio { /* Image Groups + Audio Group */
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
}

div#loopState figure, div#cityPhotos figure { /* Loop State Image + Caption */
	width: 45%;
	margin-bottom: 2.5em;
}

div#loopState figure img, div#cityPhotos img { /* Loop State Image */
	display: block;
	width: 100%;
}

video { /* Sets size of videos */
	width: 60%;
}

div#travAudio audio { /* Settins for traveller audio elements */
	display: block;
	padding: 1em 0;
	width: 30%;
}

/* POI Styles */

div.poiLeft, div.poiRight { /* Centers POI divs */
	margin: auto;
}

.poiLeft img, .poiLeft video, .poiRight img, .poiRight video { /* Sets size of POI imgs and videos */
	width: 40%;
}

.poiLeft img, .poiLeft video { /* Settings for left POI imgs and videos */
	float: left;
	margin-right: 1em;
}

.poiRight img, .poiRight video { /* Settings for right POI imgs and videos */
	float: right;
	margin-left: 1em;
}

img.squareImage { /* Sets size of square image to match rectangle images */
	width: 25%;
}

main h3 { /* POI title settings */
	font-size: 2em;
	margin: 1.5em auto 1em;
}

main h3.belowButton { /* Adds spacing to h3 below button */
	margin-top: 3.5em;
}

.poiLeft p, .poiRight p { /* Resets padding on POI paragraphs & spacing between POIs */
	padding: 0;
	margin-bottom: 4em;
}

p.pNoMargin { /* Removes paragraph bottom spacing */
	margin-bottom: 0;
}

.poiLeft p, .poiLeft h3 {  /* Settings for POI Left text */
	text-align: right;
}

.poiRight p, .poiRight h3 { /* Settings for POI Right text */
	text-align: left;
}

/* Image Map Settings */

.image-mapper-shape { /* Makes image map clickable area transparent */
	fill: rgba(0, 0, 0, 0);
}



/* -- FOOTER STYLES -- */
footer {
	display: block;
	margin-top: 3em;
	text-align: center;
}

footer > section { /* Game links section */
	padding: 2em 0em;
}

footer h2 { /* Where to Play title */
	margin-bottom: 1.5em;
	font-size: 1.75em;
}

footer h3 { /* Back to Top button */
	margin-top: 1.75em;
	font-size: 1.25em;
}
 
footer h3 a:link, footer h3 a:visited, footer h3 a:active { /* Back to Top button link */
	text-decoration: none;
	color: white;
}

footer h3 a:hover { /* Back to Top button hover */
	text-shadow: 0 0 0.25em white;
}

/* Game Link Images */

footer > section > div { /* Game link group */
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-evenly;
}

footer > section > div a { /* Game link clickable link */
	display: block;
	width: 20%;
	padding-bottom: 2em;
}

footer > section > div img { /* Game link images */
	display: block;
	margin: auto;
	width: 40%;
	transition: transform .2s;
}

footer > section > div img:hover { /* Zooms game link image by 115% */
	transform: scale(1.15);
}



/* --- RESPONSIVE DESIGN --- */
@media screen and (max-width: 600px) {
	/* --- NAVBAR --- */
	nav { /* The bar itself */
		font-size: 1.10em;
	}

	nav ul li a { /* Navbar button text - removed left/right padding */
		padding: 0.25em;
	}

	#hgTwins { /* Makes the HG Twins dropdown options size match */
		min-width: 7.67em;
	}

	#otherLocations { /* Makes the Other Locations dropdown options size match */
		max-width: 7.67em;
	}
	
	/* --- MAIN --- */
	main { /* Sets contents of page to not touch edges of screen */
		margin-left: auto;
		margin-right: auto;
		width: 90%;
	}

	main p { /* Paragraph text */
		padding: 1em 0.5em;
		font-size: 1.5em;
	}

	
	main > img { /* Size for singular planet image in Planet Pages */
		width: 100%;
	}
	
	div#loopState figure, div#cityPhotos figure, div#travAudio audio { /* Sets images to be stack on top of each other */
		width: 100%;
	}

	video { /* Makes videos fill screen sides */
		width: 95%;
	}

	.poiLeft img, .poiLeft video, .poiRight img, .poiRight video { /* Makes POI imgs and videos fill center of screen */
		float: none;
		margin: 1em 0;
		width: 95%;
	}

	.poiLeft p, .poiLeft h3 { /* Settings for POI Left text */
		text-align: center;
	}

	.poiRight p, .poiRight h3 { /* Settings for POI Right text */
		text-align: center;
	}

	
	/* --- FOOTER --- */
	footer > section > div { /* Game link group */
		display: flex;
		flex-flow: row wrap;
	}
	
	footer > section > div a { /* Game link clickable link */
		width: 50%;
	}
}