/* DARK BRAMBLE PAGE CSS STYLES */

/*  --- BANNER & NAVIGATION BAR SETTINGS --- */
nav { /* Navbar - the bar itself */
	background-color: #141A1C;
}

nav ul li a { /* Button text */
	background-color: #3C514C;
}

nav ul li a:hover, .dropdown:hover .dropbtn { /* Button hover color */
	background-color: #787566;
}



/* --- SPOILER STYLES --- */
.collapsible { /* Spoiler button settings */
	background-color: #3C514C;
	border: 0.1em solid white;
	/* box-shadow: white 0 0 0.5em; */
}

.active, .collapsible:hover { /* Changes color on hover */
	background-color: #787566;
}



/* --- MAIN STYLES --- */
html { /* Background image */
	background-image: linear-gradient(to bottom, #504427, #453626, #29221B);
}

main h1 {
	text-shadow: #29221B 0.05em 0.05em;
}

main img, video { /* Image & Video Border */
	border: 0.25em solid #0E1918;
}



/* -- FOOTER STYLES -- */
footer {
	background-color: #141A1C;
}