/* HOME PAGE CSS */

/*  --- BANNER & NAVIGATION BAR SETTINGS --- */
nav { /* Navbar - the bar itself */
	background-color: #0D262D;
}

nav ul li a { /* Button text */
	background-color: #FF7C24;
}

nav ul li a:hover, .dropdown:hover .dropbtn { /* Button hover color */
	background-color: #F4C430;
}



/* --- SPOILER STYLES --- */
.collapsible { /* Spoiler button settings */
	background-color: black;
	border: 0.1em solid white;
	box-shadow: white 0 0 0.5em;
}



/* --- MAIN STYLES --- */
html { /* Background image */
	background-image: url("../images/banner_starry_bg.jpg");
}

main h2 { /* Major Section Titles */
	background-color: black;
	border: 0.075em solid white;
	border-radius: 0.75em;
	box-shadow: white 0 0 0.25em;
	margin: 1em auto;
	padding: 0.5em 1em;
	font-size: 3em;
	width: fit-content;
}

main h3 { /* Minor Section Titles */
	background-color: black;
	border: 0.1em solid white;
	border-radius: 0.75em;
	box-shadow: white 0 0 0.35em;
	margin: 1em auto;
	padding: 0.5em 1em;
	font-size: 2em;
	width: fit-content;
}

main div#about { /* About Section Box */
	background-color: black;
	border: 0.20em solid white;
	box-shadow: white 0 0 0.75em;
	margin-bottom: 3em;
}

/* Planet Images + Minor Characters Section */

main img, main image { /* Body Images */
	display: block;
	margin: auto;
	width: 90%;
	border: 0.20em solid white;
	box-shadow: white 0 0 0.75em;
}

section.indexPlanets > div, div#minorChars { /* Planet Groups + Minor Character Groups */
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
}

section.indexPlanets > div > div { /* Allows planet images to be side by side */
	width: 50%;
}

div#minorChars > div { /* Allows minor character images to be side by side */
	width: 25%;
}

section.indexPlanets p, div#minorChars p { /* Planet image titles + Minor Character Name & Role */
	background-color: black;
	border: 0.1em solid white;
	border-radius: 0.75em;
	box-shadow: white 0 0 0.35em;
	margin: 1em auto 2.5em;
	padding: 0.25em 1em;
	width: fit-content;
}

div#minorChars > div { /* Minor Characters Spacing */
	margin: 2em 0 0 0;
}

div#minorChars p { /* Minor Characters Name & Role Spacing */
	margin-bottom: 1em;
}

section.indexPlanets img, div#hgtMap { /* Gives planet images animation */
	transition: transform .2s, box-shadow .2s;
}

section.indexPlanets img:hover, div#hgtMap:hover { /* Zooms planet image by 105%, increases size of white glow */
	transform: scale(1.05);
	box-shadow: white 0 0 1.25em;
}

div#hgtMap { /* Allows HG Twins image map to have same style as other images */
	display: block;
	margin: auto;
	width: 90%;
	border: 0.20em solid white;
	box-shadow: white 0 0 0.75em;
}


div#planetaryChart { /* Allows PlanChart image map to have same style as other images */
	display: block;
	margin: 7em auto; /* Makes section spacing match */
	width: 90%;
	border: 0.20em solid white;
	box-shadow: white 0 0 0.75em;
}

/* Planet Image Title Colors */

section.indexPlanets p#hgtTitle { /* Hourglass Twins Title */
	background-image: linear-gradient(to right, #D0633A, #AF8F65);
}

section.indexPlanets p#thTitle { /* Timber Hearth Title */
	background-image: linear-gradient(to right, #383C22, #2B3D4F);
}

section.indexPlanets p.bhwhTitle { /* Brittle Hollow / White Hole Title */
	background-image: linear-gradient(to right, #2E1738, #482034, #893343, #8A4741);
}

section.indexPlanets p#gdTitle { /* Giant's Deep Title */
	background-image: linear-gradient(to right, #666E35, #414721, #323A22);
}

section.indexPlanets p#dbTitle { /* Dark Bramble Title */
	background-image: linear-gradient(to right, #787566, #504427, #453626, #29221B);
}

section.indexPlanets p#attleTitle { /* Attlerock Title */
	background-color: #5D5240;
}

section.indexPlanets p#qmTitle { /* Quantum Moon Title */
	background-image: linear-gradient(to right, #20255A, #33578C, #47355A, #694A52);
}

section.indexPlanets p#interTitle { /* Interloper Title */
	background-image: linear-gradient(to right, #74C09A, #3A837F, #186064);
}


/* Major Characters Section */

section.indexChars div.majorChars { /* All Character Abouts Grouped */
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
}

section.indexChars div.majorChars > div.charLeft { /* Character Abouts - Left Align */
	display: flex;
	margin: 2em 0;
	height: 73.5vh;
	width: 90%;
}

section.indexChars div.majorChars > div.charRight { /* Character Abouts - Right Align */
	display: flex;
	flex-flow: row-reverse nowrap;
	margin: 2em 0;
	height: 73.5vh;
	width: 90%;
}

section.indexChars div.majorChars > div img { /* Character Section Images */
	width: 48%;
}

section.indexChars div.charAbout { /* Character About Text */
	display: block;
	background-color: black;
	margin: auto;
	border: 0.20em solid white;
	box-shadow: white 0 0 0.75em;
	height: 100%;
	width: 48%;
	overflow: scroll;
	overflow-x: hidden;
}

section.indexChars div.charAbout h4 { /* Character Name */
	font-size: 2em;
}



/* -- FOOTER STYLES -- */
footer {
	background-color: #0D262D;
}



/* --- RESPONSIVE DESIGN --- */

/* Screens under 1200px width */
@media screen and (max-width: 1200px) {
	section.indexChars div.majorChars > div.charLeft { /* Character Abouts - Left Align */
		flex-flow: column nowrap;
		height: auto;
		width: 95%;
	}
	
	section.indexChars div.majorChars > div.charRight { /* Character Abouts - Right Align */
		flex-flow: column nowrap;
		height: auto;
		width: 95%;
	}
	
	section.indexChars div.majorChars > div img { /* Character Section Images */
		margin-bottom: 1em;
		width: 100%;
	}
	
	section.indexChars div.charAbout { /* Character About Text */
		padding: 0.75em 0em 0.5em;
		width: 100%;
		overflow: visible;
	}
}

/* Screens under 600px width */
@media screen and (max-width: 600px) {
	/* --- MAIN --- */
	main h2 { /* Major Section Titles */
		border: 0.05em solid white;
		padding: 0.5em;
		font-size: 2.5em;
	}
	
	main h3 { /* Minor Section Titles */
		border: 0.075em solid white;
		padding: 0.5em;
		font-size: 1.75em;
	}
	
	main img { /* Body Images */
		width: 95%;
	}
	
	section.indexPlanets > div > div, div#minorChars > div { /* Allows images to be on top of each other */
		width: 100%;
	}
	
	div#planetaryChart { /* Allows PlanChart image map to have same style as other images */
		margin: 6em auto; /* Makes section spacing match */
	}
}